{% extends "courses/layout.html" %}
{% load course_extras %}

{% block title %}
New Answer | {{ question.prompt }} | {{ question.quiz.course.title }} {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
    <li><a href="{% url 'courses:detail' pk=question.quiz.course.pk %}">{{ question.quiz.course.title }}</a></li>
    <li><a href="{% url 'courses:quiz' course_pk=question.quiz.course.pk step_pk=question.quiz.pk %}">{{ question.quiz.title }}</a></li>
    <li>{{ question.prompt }}</li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row columns">
        {{ block.super }}
        <h1>Add Answer</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="button" value="Save">
        </form>
        {% if user.is_authenticated and form.instance.pk %}
            <hr>
            <a href="{% url 'courses:create_answer' question_pk=form.instance.pk %}" class="button">Add Answer</a>
        {% endif %}
    </div>
{% endblock content %}