{% extends "courses/layout.html" %}
{% load course_extras %}

{% block title %}
{{ form.instance.prompt|default:"New question" }} | {{ quiz.course.title }} {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
    <li><a href="{% url 'courses:detail' pk=quiz.course.pk %}">{{ quiz.course.title }}</a></li>
    <li><a href="{% url 'courses:quiz' course_pk=quiz.course.pk step_pk=quiz.pk %}">{{ quiz.title }}</a></li>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row columns">
        {{ block.super }}
        <h1>{{ form.instance.prompt|default:"Make a new question" }}</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="button" value="Save">
        </form>
        {% if user.is_authenticated and form.instance.pk %}
            <hr>
            <a href="{% url 'courses:create_answer' question_pk=form.instance.pk %}" class="button">Add Answer</a>
        {% endif %}
    </div>
{% endblock content %}