{% extends "layout.html" %}

{% block title %}Suggest an idea!{% endblock title %}

{% block content %}
    <div class="row">
        <form action="" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="button">
        </form>
    </div>
{% endblock content %}